header{
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.content ul li{

}
.content ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--white);

}
.container .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}